<div class="panel panel-default">
    <div class="panel-heading">Default Redirection URL</div>
    <div class="panel-body" align="center">

        <form action="/super/ui_settings/redirect_url" method="POST">
        
        <div class="input-group col-xs-5">
                <input type="text" class="form-control" placeholder={{value}} name="url" aria-describedby="basic-addon2">
                <span class="input-group-btn" id="basic-addon2">
                    <button class="btn btn-warning btn" type="Submit">Change</button>
                </span>
        </div>
        </form>

    </div>
</div>
